.table {
    display: inline-block;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell,
.table-cell-border-all,
.table-cell-border-up,
.table-cell-border-down,
.table-cell-border-up-down,
.table-cell-border-up-down-right {
    display: table-cell;
    padding: 3px 10px;
    text-align: right;
    vertical-align: middle;
}

.table-cell-border-all {
    border: thin solid;
}

.table-cell-border-up,
.table-cell-border-up-down,
.table-cell-border-up-down-right {
    border-top: thin solid;
}

.table-cell-border-down,
.table-cell-border-up-down,
.table-cell-border-up-down-right {
    border-bottom: thin solid;
}

.table-cell-border-up-down-right {
    border-right: thin solid;
}

.has-error {
    border: 1px solid red;
}

.ok-label {
    color: green;
}

.error-label {
    color: red;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.center {
    margin: auto;
}

.min-width {
    min-width: 80px;
}

.small-fraction {
    min-width: 30px;
}

.whole-number {
    min-width: 40px;
}

.score {
    font-size: 24px;
    padding: 20px 20px;
}